<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>追加ページ</title>
</head>
<body>
  <h2>追加ページ</h2>
  <form action="/insert">
    <label for="mane">キラーの名前：</label>
   <input type="text" name="name" id="mene"></p>
    <br>
     <label for="use">キラーの使用率：</label>
   <input type="number" step="0.01" name="use" id="use"></p>
    <br>
     <label for="kill">キラーの殺傷率：</label>
   <input type="number" step="0.01" name="kill" id="kill"></p>
    
    <option value=""></option>
    <form method="post">
	    <div>
		    <label for="com">追加年：</label>
		    <select name ="aid">
		      <option value="">選択してください</option>
          <% for( let row of data ) { %>
          <option value="<%= row.id %>">
            <%= row.age %>
            
          </option>
          <% } %>
		    </select>
	    </div>
      <br>
      <a href="/">戻る</a><br>
      <a href="/itiran">キラー一覧</a><br>
      <br>
      
      <input type="submit" value="追加">
    </form>
</body>
</html>

            