<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>追加ページ</title>
  <style>h1 {
    
    -webkit-text-stroke: 2px #000000;
    text-shadow: 0px 0px 5px #E93F33, 0px 0px 8px #E93F33, 0px 0px 10px #E93F33, 0px 15px 10px black, 0px 30px 15px red;
    color: white;
    font-size: 35px;
}</style>
</head>
<body>
  <div class="pic-container pic-background">
  <h1>追加ページ</h1>
  </div>
  <h2>
  <form action="/insert">
    <label for="mane">キラーの名前：</label>
   <input type="text" name="name" id="mene"></p>
    <br>
     <label for="use">キラーの使用率：</label>
   <input type="number" step="0.01" name="use" id="use"></p>
    <br>
     <label for="kill">キラーの殺傷率：</label>
   <input type="number" step="0.01" name="kill" id="kill"></p>
    
    <option value=""></option>
    <form method="post">
	    <div>
		    <label for="com">追加年：</label>
		    <select name ="aid">
		      <option value="">選択してください</option>
          <% for( let row of data ) { %>
          <option value="<%= row.id %>">
            <%= row.age %>
            
          </option>
          <% } %>
		    </select>
	    </div>
      <br>
      <input type="submit" value="追加"><br>
      <br>
      <a href="/top">一覧へもどる</a><br>
      <br>
            <a href="/">戻る</a><br>
          </h2>
    </form>
</body>
</html>

            