<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h1>сЃЄсЃ╝сѓ┐сЂДсЂ┐сѓІdbdсѓГсЃЕсЃ╝</h1>
   <Marquee>
			<h2>сЃЙ(№йЦлћсЃ╗№йђ)№ЙЅРЅА№╝ЊРЅА№╝ЊРЅА№╝Њ сђђсђђсђђсђђ­ЪфЊo(№йђ¤Ѕ┬┤*)РЅА№╝ЊРЅА№╝ЊРЅА№╝Њ</h2>
	</Marquee>
  <h2>
  <form action="/itiran">
		  <label for="item">СИдсЂ│жає№╝џ</label>
	    <select name="item">
        <option value="age_id">У┐йтіат╣┤</option>
	      <option value="use">Сй┐ућеујЄ</option>
		    <option value="kill">Т«║тѓиујЄ</option>
		  </select>
    <input type="radio" name="desc" value="asc" checked>
    <label for="desc">ТўЄжає</label>
     <input type="radio" name="desc" value="desc">
    <label for="desc">жЎЇжає</label>
    
    <input type="submit" value="СИдсЂ│ТЏ┐сЂѕ">
 </form>
  <table>
    <table border="1">
    <tr>

      <td>тљЇтЅЇ</td>
      <td>Сй┐ућеујЄ(%)</td>
      <td>Т«║тѓиујЄ(%)</td>
      <td>У┐йтіат╣┤</td>
    </tr>
       <% for( let row of data ) { %>
        <tr>
            <td><%= row.name %></td>
            <td><%= row.use %></td>
            <td><%= row.kill %></td>
            <td><%= row.age %></td>
        </tr>
      <% } %>
  </table>
        <a href="/tosi">У┐йтіа</a><br>
        <a href="/kesu">тЅіжЎц</a><br>
         <a href="/">сѓѓсЂЕсѓІ</a><br>
        </h2>
        
</body>
</html>