<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
  <style>
  body{
      text-align:center;
    }
    </style>
</head>
<body>
  <h1>dbdキラー情報</h1>
  <Marquee>
			<h2>ヾ(･Д・｀)ﾉ≡３≡３≡３ 　　　　🪓o(｀ω´*)≡３≡３≡３</h2>
	</Marquee>
  <h2><p><%= mes %></p>
    <a href="/public/selectdbd.html">キラー一覧</a><br></h2>
    <br>
    <h3><a href="/public/setumei.html">DBDとは</a></h3>
</body>
</html>